<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Processing</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of persons; let i = index">
        <td>{{person.name}}</td>
        <td>{{person.lastName}}</td>
        <td>{{person.processing}}</td>
        <td><i (click)="viewPerson(person)" class="far fa-eye"></i> &nbsp;&nbsp; <i (click)="updateProcessing(person)" class="fas fa-user-check"></i></td>
      </tr>
    </tbody>
  </table>

  <div class="center">
    <button>
      <i (click)="goCreatePerson()" class="fas fa-plus fa-2x"></i>
    </button>
</div>